/*
* Common Variables
*/
$color-1: #00090f !default;
$color-2: #fff !default;
$color-3: #197bc9;
$color-4: #6e00ff;
$color-5: #00ffdc;

$font-1: "Open Sans", sans-serif;
$font-2: $font-1;

$res-url: "";

/****************************
*****************************
**** COMPONENT VARIABLES ****
*****************************
*****************************/

//FOOTER COMPONENT
