.nav-menu {
    display: flex;
    flex-direction: row;

    &__item{
        margin: 2px 10px;
        font-family: $font-1;
        a{
            color: $color-2;
            text-transform: uppercase
        }
        -webkit-transition: transform 1s cubic-bezier(0, 0, 0, 1);
        -moz-transition: transform 1s cubic-bezier(0, 0, 0, 1);
        -o-transition: transform 1s cubic-bezier(0, 0, 0, 1);
        transition: transform 1s cubic-bezier(0, 0, 0, 1);
        &:hover{
            transform: scale(1.1);
            a{
                color: $color-5;
            }
        }

        &--active{
            a{
                color: $color-5;
                font-weight: bold;
                letter-spacing: 2px;
            }
        }
    }
}

@include SmallDevice {
    .nav-menu {
    }
}

@include MediumDevice {
    .nav-menu {
    }
}
