.dashboard-views{
    margin: 25px auto;
    padding: 5px 10px;
    &__title{
        margin: 15px auto;
    }

    &__sub{
        margin: 7px auto;
    }

    &__btn{
        margin: 20px auto;
    }

    &__peak{
        margin: 15px auto;
    }

    &__totalviews{
        margin: 15px auto;
    }

    &__card{
        width: 100%;
        min-width: 250px;
        height: 75px;
        display: flex;
        -webkit-transition: all 1s cubic-bezier(0, 0, 0, 1);
        -moz-transition: all 1s cubic-bezier(0, 0, 0, 1);
        -o-transition: all 1s cubic-bezier(0, 0, 0, 1);
        transition: all 1s cubic-bezier(0, 0, 0, 1);

        &:hover{
            transform: scale(1.1);
        }

        &--left{
            flex: 1;
            background-color: $color-5;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            i{
                font-size: 40px;
                color:$color-1;
                // border: 1px solid $color-1;
                // border-radius: 50%;
            }
        }
        &--right{
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 10px;
        }
    }

}

@include SmallDevice{
    .dashboard-views{
        display: flex;
        &__card{
            margin: 15px;
        }
    }
}